
body {
    margin: 0;
}

header {
    width: 100%;
    background-color: black;
    display: inline-block;
}

header nav {
    float: right;
}

header nav ul {
    list-style: none;

}

header nav ul li {
    display: inline-block;
    font-family: Arial;
    margin: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

header nav ul li a:hover {
    color: crimson;
}